

<table *ngIf="!fightMode">
  <tr>
    <th>Name</th>
    <th>Level</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let player of players | async">
    <td *ngIf="player != playerSelf">{{player.name}}</td>
    <td *ngIf="player != playerSelf">{{player.level}}</td>
    <td *ngIf="player != playerSelf"><button mat-raised-button color="primary" (click)="fight(player)">Attack</button></td>
  </tr>
</table>


<div *ngIf="fightMode">
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
        <mat-progress-bar mode="determinate" [value]="playerHpBar"></mat-progress-bar>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        Battleground...
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-progress-bar mode="determinate" [value]="enemyHpBar"></mat-progress-bar>    
    </mat-grid-tile>
    <mat-grid-tile>
        <div>
          <h3>Your log:</h3>
          <p>{{combatLogSelf[0]}}</p>
          <p>{{combatLogSelf[1]}}</p>
          <p>{{combatLogSelf[2]}}</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <button mat-raised-button (click)="endFightMode()">Done</button>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <h3>Enemy log:</h3>
          <p>{{combatLogEnemy[0]}}</p>
          <p>{{combatLogEnemy[1]}}</p>
          <p>{{combatLogEnemy[2]}}</p>
        </div>       
      </mat-grid-tile>
  </mat-grid-list>
</div>