.missionContainer {
    width: 90%;
    height: 90%;
    border: 3px solid #3d0814;
    text-align: center;
    p {
        height: 50%;
    }
    mat-progress-spinner {
        margin: 0 auto;
    }
}
.background {
    background-image: url("../../../assets/missions/background.jpg");
    background-size: 100%;
    height: 100%;
        background-attachment: fixed;
        overflow:hidden;
}