.missionContainer {
    width: 95%;
    height: 95%;
    border: 3px solid #3d0814;
    text-align: center;
    p {
        height: 50%;
    }
    mat-progress-spinner {
        margin: 0 auto;
    }
}