<div class="missionsCollection">

  <mat-grid-list cols="2" rowHeight="400" *ngIf="chosenMission == null && randomMissions.length == 4">
    <mat-grid-tile *ngFor="let mission of randomMissions">
      <div class="missionContainer">
        <h2>{{mission.name}}</h2>
        <p>{{mission.description}}</p>
        <button mat-raised-button color="primary" (click)="missionStart(mission)">Start</button>
      </div>
    </mat-grid-tile>    
  </mat-grid-list>    

  <mat-grid-list cols="1" *ngIf="chosenMission != null">
    <mat-grid-tile>
      <div>
        {{ chosenMission.name }}
      </div>
      <mat-progress-spinner mode="determinate" [value]="circleProgress" color="primary"></mat-progress-spinner>{{counter}}
      <h1 *ngIf="missionCompleted"> Reward: {{chosenMission.silverReward}}Silver, {{chosenMission.expReward}}Exp</h1>
      <h1 *ngIf="missionCompleted">BonusReward: {{bonusSilver}}Silver, {{bonusExp}}Exp</h1>
    </mat-grid-tile>
  </mat-grid-list>

</div>