 .dungeonfinder {

    img {
        border: 2px solid #3d0814;
    }

   .dungeon {
        width: 60%;
        height: 172px;
        border: 3px solid #3d0814;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        margin: 0 auto;
        margin-bottom: 15px;
        overflow: hidden;
        box-shadow: 5px 5px 10px #3d0814;
    
        .dungeonlogo {
            width: calc(75% - 10px);
            height: 100%;
            float: left;
            border-right: 3px solid #3d0814;         

        }

        .dungeonstart {
            width: 25%;
            height: 100%;
            text-align: center;
            overflow: hidden;
            margin-top: 57.5px;
            img {
            box-shadow: 5px 5px 10px #3d0814;
            }
        }
    
    }

}