.dungeon1 {
    width: 70%;
    height: auto;
    border: 2px solid #3d0814;
    margin: auto;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
}

.dungeon1start {
    float: right;
    width: 20%;
    height: 100%;
    border-left: 2px solid #3d0814;
}

.dungeon2 {
    width:  70%;
    height: auto;
    border: 2px solid #3d0814;
    margin: auto;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
    margin-top: 2%;
}
.dungeon3 {
    width: 70%;
    height: auto;
    border: 2px solid #3d0814;
    margin: auto;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
    margin-top: 2%;
}
.dungeon4 {
    width: 70%;
    height: auto;
    border: 2px solid #3d0814;
    margin: auto;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
    margin-top: 2%;
}
.dungeon5 {
    width: 70%;
    height: auto;
    border: 2px solid #3d0814;
    margin: auto;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
    margin-top: 2%;
}

img {
    border: 3px solid #3d0814;

}