<div class="dungeonfinder">
  <div class="dungeon">
    <div class="dungeonlogo">
      <img src="../../assets/dungeon/dungeon1.jpg">
      Shadowfang Keep: Path ->
    </div>  
    <div class="dungeonstart">
      <img src="../../assets/dungeon/fightstart.jpg">
    </div>
  </div>

  <div class="dungeon">
      <div class="dungeonlogo">
          <img src="../../assets/dungeon/dungeon2.jpg">
          Molten Core: Path ->
        </div> 
    <div class="dungeonstart">
      <img src="../../assets/dungeon/fightstart.jpg">  
    </div>
  </div>

  <div class="dungeon">
      <div class="dungeonlogo">
          <img src="../../assets/dungeon/dungeon3.jpg">
          Black Temple: Path ->
        </div> 
    <div class="dungeonstart">
    <img src="../../assets/dungeon/fightstart.jpg">  
    </div>
  </div>

  <div class="dungeon">
      <div class="dungeonlogo">
          <img src="../../assets/dungeon/dungeon4.jpg">
          Trial of Valor: Path ->
        </div> 
    <div class="dungeonstart">
    <img src="../../assets/dungeon/fightstart.jpg">
    </div>
  </div>
      
  <div class="dungeon">
      <div class="dungeonlogo">
          <img src="../../assets/dungeon/dungeon5.jpg">
          The Emerald Nightmare: Path ->
        </div> 
    <div class="dungeonstart">
    <img src="../../assets/dungeon/fightstart.jpg">
    </div>
  </div>
</div>