.clothesContainer {
    width: 95%;
    height: 95%;
    border: 3px solid #3d0814;
    text-align: center;
    p {
        height: 18%;
    }
}

.weaponsContainer {
    width: 95%;
    height: 95%;
    border: 3px solid #3d0814;
    text-align: center;
    p {
        height: 18%;
    }
}

.space {
    width: 100%;
    height: 100px;
}



.test {
      font-size: 30px!important;

  }
  