.overview {
    width: 80%;
    height: 700px;
    margin-top: 50px;
}

.playerBox {
    width: 40%;
    height: 700px;
    margin-top: 20px;
    float: left;
    margin-left: 300px;

    .playerUpside {
    width: 100%;
    height: 450px;

        .equipmentLeft {
            width: 25%;
            height: 450px;
            float: left;
            .playerEquipment {
                width: 100%;
                height: 150px;
                border: solid 2px #3d0814;
                border-radius: 20px;
                text-align: center;
            }
        }
    
        .equipmentMiddle {
            width: 47%;
            height: 450px;
            margin: auto;
            padding-left: 8px;
            display: inline-block;
            

            .player {
                width: 100%;
                height: 300px;
                border: solid 2px #3d0814;
                border-radius: 20px;
            }

            .playerWeapons1 {
                width: 47%;
                height: 150px;
                float: left;
                border: solid 2px #3d0814;
                border-radius: 20px;
                margin-top: 5px;
                padding-left: 3px;
                text-align: center;
                
            }
            .playerWeapons2 {
                width: 47%;
                height: 150px;
                float:right;
                border: solid 2px #3d0814;
                border-radius: 20px;
                margin-top: 5px;
                text-align: center;
            }

        }


        .equipmentRight{
            width: 25%;
            height: 450px;
            float: right;
            .playerEquipment {
                width: 100%;
                height: 150px;
                border: solid 2px #3d0814;
                border-radius: 20px;   
                text-align: center;             
            }
        }
    }


    .playerStatsDownside {
        width: 100%;
        height: 250px;
    }

    .skillPoints {
        text-align: center;
        border: solid 3px #3d0814;
        border-radius: 20px;
        margin-top: 15px;
        button {
            margin-left: 5px;
        }

    }

}

.dungeonTime {
    color: #3d0814;
    font-size: 22px;
    text-align: center;
    margin: auto;
}

.inventory {
    width: 100%;
    height: 450px;
    .inventoryLeft {
        width: 33%;
        height: 390px;
        float: left;
        .slot {
            height: 130px;
            text-align: center;
            border: solid 3px #3d0814;
            border-radius: 20px;
        }
    }
    .inventoryMiddle {
        width: 33%;
        height: 390px;
        display: inline-block;
        padding-left: 2px;
        .slot {
            height: 130px;
            text-align: center;
            border: solid 3px #3d0814;
            border-radius: 20px;
        }
    }
    .inventoryRight {
        width: 33%;
        height: 390px;
        float: right;
        .slot {
            height: 130px;
            text-align: center;
            border: solid 3px #3d0814;
            border-radius: 20px;
        }
    }
}

.inventoryContent {
    width: 25%;
    height: 550px;
    float: right;
    margin-top: 150px;
    .inventoryHeader {
        width: 100%;
        height: 50px;
        text-align: center;
        font-size: 18px;
        color: #3d0814;
    }
}