<!--
<div *ngIf="player != undefined">
  <mat-grid-list cols="4" rowHeight="200">
    <mat-grid-tile colspan="4">
      <div>
        <h1>{{player.name}}</h1>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <div>
        <p>character</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <div *ngFor="let item of inventar">
        <p>{{(item | async)?.name}} </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <div>
        <p>Skillpoints: {{player.level.levelUps}}</p>
        <p>Power: {{player.stats.power}}<button mat-raised-button color="primary" (click)="levelUpStat('power')" [disabled]="player.level.levelUps == 0">+</button></p>
        <p>Health: {{player.stats.health}}<button mat-raised-button color="primary" (click)="levelUpStat('health')" [disabled]="player.level.levelUps == 0">+</button></p>
        <p>Crit: {{player.stats.crit}}<button mat-raised-button color="primary" (click)="levelUpStat('crit')" [disabled]="player.level.levelUps == 0">+</button></p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <div>
        <p>pvp stats</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <div>
          <p>dungeon stats</p>
        </div>
      </mat-grid-tile>
  </mat-grid-list>
</div>
-->
<div  *ngIf="player != undefined">
<div class="dungeonTime"> Next free Dungeon-Ticket in {{dungeonTime}} minutes</div>

<div class="overview">
 
  <div class="playerBox">
    <div class="playerUpside">
      <div class="equipmentLeft">
          <div class="playerEquipment">Helmet</div>
          <div class="playerEquipment">Spaulders</div>
          <div class="playerEquipment">Chest</div>
      </div>
      <div class="equipmentMiddle">
          <div class="player"></div>
          <div class="playerWeapons1">LeftHand</div>
          <div class="playerWeapons2">RightHand</div>
      </div>
      <div class="equipmentRight">
          <div class="playerEquipment">Gauntlets</div>
          <div class="playerEquipment">Leggings</div>
          <div class="playerEquipment">Ring</div>
      </div>        
    </div>
    <div class="playerStatsDownside">
        <div class="skillPoints">
            <p>Skillpoints: {{player.level.levelUps}}</p>
            <p>Power: {{player.stats.power}}<button mat-raised-button color="primary" (click)="levelUpStat('power')" [disabled]="player.level.levelUps == 0">+</button></p>
            <p>Health: {{player.stats.health}}<button mat-raised-button color="primary" (click)="levelUpStat('health')" [disabled]="player.level.levelUps == 0">+</button></p>
            <p>Crit: {{player.stats.crit}}<button mat-raised-button color="primary" (click)="levelUpStat('crit')" [disabled]="player.level.levelUps == 0">+</button></p>
          </div>
    </div>
  </div>


<div class="inventoryContent">
  <div class="inventoryHeader">Inventory:</div>
  <div class="inventory">
    <div class="inventoryLeft">
      <div class="slot"><img class="inventoryIcon" src={{classIconPath1}}></div>
      <div class="slot"></div>
      <div class="slot"></div>
    </div>
    <div class="inventoryMiddle">
      <div class="slot"></div>
      <div class="slot"></div>
      <div class="slot"></div>
    </div>

    <div class="inventoryRight ">
      <div class="slot"></div>
      <div class="slot"></div>
      <div class="slot"></div>
    </div>
  </div>
</div>

</div>