@import './../../styles/variables';

.login-page {
    mat-card {
        max-width: 500px;
        margin: 0 auto;
        margin-top: 100px;
        mat-card-header {
            text-align: center;
            margin: -24px -24px 0;
            background-color: $color_primary;
            color: $color_white;
            .mat-card-header-text {
                margin: 0 !important;
            }
            .card-heading {
                width: 100%;
            }
        }
        mat-card-content {
            text-align: center;
            .mat-tab-label {
                width: 50%;
            }
            form {
                margin-top: 30px;
                mat-form-field {
                    width: 100%;
                }
            }
            .email-login {
                border-bottom: 1px solid $color_primary;
            }
            button {
                width: 150px;
                margin: 10px;
            }
            .email-login-button {
                margin-bottom: 40px;
            }
            .google-login {
                margin-top: 20px;
            }
            .class-chooser {
                margin-bottom: 30px;
                .class-icon {
                    border: 3px solid $color_primary;
                    border-radius: 100px;
                    cursor: pointer;
                }
                .chosen-class {
                    border: 5px solid $color_secondary;
                }
            }
        }
    }

}




/**.login-page {
    border: 2px solid $color_primary;
    border-radius: 30px;
    padding: 10px;
    background-color: $color_white;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 75px;
    text-align: center;
    .login-header {
        text-align: center;
        margin-bottom: 30px;
    }
    .login-mode {
        width: 80%;
        margin: auto;
        text-align: center;
        text-transform: uppercase;
        .mode-container-left {
            padding: 10px 0;
            cursor: pointer;
            float: left;
            width: 50%;
        }
        .mode-container-right {
            padding: 10px 0;
            cursor: pointer;
            overflow: hidden;
            width: 50%;
        }
        .mode-container-active {
            border-radius: 20px;
            background-color: $color_primary;
            color: $color_white;
        }
    }
    .login, .register {
        margin-top: 10px;
        margin-bottom: 30px;
        input {
            width: 80%;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            margin-top: 20px;
        }
        .alert {
            display: block;
            color: $color_red;
            padding: 5px;
        }
        .email-login, .email-register {
            margin-top: 20px;
        }
        .google-login {
            margin-top: 30px;
        }
        .class-chooser {
            padding: 0 40px;
            .class-container {
                width: 33.3%;
                display: inline-block;
                .class-inner-container {
                    width: 90%;
                    margin: 0 auto;
                    .class-icon {
                        margin: 2px 0;
                        border: 3px solid $color_primary;
                        border-radius: 100px;
                        width: 70%;
                        cursor: pointer;
                    }
                    .chosen-class {
                        margin: 0;
                        border: 5px solid $color_secondary;
                    }
                    .chosen-class-name {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 699px) {
    .login-page {
        margin-top: 0;
    }
}*/