@import './../../styles/variables';

.login-page {
    border: 2px solid $color_primary;
    border-radius: 30px;
    padding: 10px;
    background-color: $color_white;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 75px;
    text-align: center;
    .login-header {
        text-align: center;
        margin-bottom: 30px;
    }
    .login-mode {
        width: 80%;
        margin: auto;
        text-align: center;
        text-transform: uppercase;
        .mode-container-left {
            padding: 10px 0;
            cursor: pointer;
            float: left;
            width: 50%;
        }
        .mode-container-right {
            padding: 10px 0;
            cursor: pointer;
            overflow: hidden;
            width: 50%;
        }
        .mode-container-active {
            border-radius: 20px;
            background-color: $color_primary;
            color: $color_white;
        }
    }
    .login, .register {
        margin-top: 10px;
        margin-bottom: 30px;
        input {
            width: 80%;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            margin-top: 20px;
        }
        .alert {
            display: block;
            color: $color_red;
            padding: 5px;
        }
        .email-login, .email-register {
            margin-top: 20px;
        }
        .google-login {
            margin-top: 30px;
        }
    }
}
@media screen and (max-width: 699px) {
    .login-page {
        margin-top: 0;
    }
}