<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="true" color="primary">
    <button mat-mini-fab class="example-fab" (click)="sidenav.toggle()">
      <mat-icon>add</mat-icon>
    </button>
    <div class="sidenav-content">
      <div class="nav-header">
          <img class="game-logo" src="../../assets/logo.svg">
      </div>
      <mat-list>
        <mat-list-item routerLink="overview" (click)="setSelectedNav('Overview')" [class.nav-active]="selectedNav === 'Overview'">Overview</mat-list-item>
        <mat-list-item routerLink="stats" (click)="setSelectedNav('Stats')" [class.nav-active]="selectedNav === 'Stats'">Stats</mat-list-item>
        <mat-list-item routerLink="mission" (click)="setSelectedNav('Missions')" [class.nav-active]="selectedNav === 'Missions'">Missions</mat-list-item>
        <mat-list-item routerLink="pvp" (click)="setSelectedNav('Pvp')" [class.nav-active]="selectedNav === 'Pvp'">PvP</mat-list-item>
        <mat-list-item routerLink="dungeon" (click)="setSelectedNav('Dungeon')" [class.nav-active]="selectedNav === 'Dungeon'">Dungeon</mat-list-item>
        <mat-list-item (click)="setSelectedNav('Rankings')" [class.nav-active]="selectedNav === 'Rankings'">Rankings</mat-list-item>
        <mat-list-item (click)="setSelectedNav('Shop')" [class.nav-active]="selectedNav === 'Shop'">Shop</mat-list-item>
      </mat-list>
      
    </div>
  </mat-sidenav>
  <button mat-mini-fab class="example-fab" (click)="sidenav.toggle()">
    <mat-icon>add</mat-icon>
  </button>
  <mat-toolbar color="primary">
      <img class="class-icon" src={{classIconPath}}>
      <span class="player-name">{{(player | async)?.name }}</span>
      <img class="level-icon" src="../../assets/level.svg">
      <span class="player-level">Level: {{(player | async)?.level.level }}</span>
      <img class="diamond-icon" src="../../assets/diamond.svg">
      <span class="player-diamond">0</span>
      <img class="gold-icon" src="../../assets/gold.svg">
      <span class="player-gold">todo</span>
      <img class="silver-icon" src="../../assets/silver.svg">
      <span class="player-silver">{{(player | async)?.silver }}</span>
      <span class="toolbar-space"></span>
      <button mat-raised-button color="accent" (click)="logout()">Logout</button>
  </mat-toolbar>
  <div class="game-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>



<!--div class="game-content">
  <div class="sticky-header">
    <img class="class-icon" src={{classIconPath}}>
    <span class="player-name">{{(player | async)?.name }}</span>
    <img class="level-icon" src="../../assets/level.svg">
    <span class="player-level">Level: 0</span>
    <img class="diamond-icon" src="../../assets/diamond.svg">
    <span class="player-diamond">0</span>
    <img class="gold-icon" src="../../assets/gold.svg">
    <span class="player-gold">{{(player | async)?.gold }}</span>
    <img class="silver-icon" src="../../assets/silver.svg">
    <span class="player-silver">{{(player | async)?.silver }}</span>
    <button class="button button-inverse" (click)="logout()">Logout</button>
  </div>

  <div class="sidebar">
    <div class="nav-menu">
      <p routerLink="overview" (click)="setSelectedNav('Overview')" [class.nav-active]="selectedNav === 'Overview'">Overview</p>
      <p (click)="setSelectedNav('Stats')" [class.nav-active]="selectedNav === 'Stats'">Stats</p>
      <p routerLink="mission" (click)="setSelectedNav('Missions')" [class.nav-active]="selectedNav === 'Missions'">Missions</p>
      <p routerLink="pvp" (click)="setSelectedNav('Pvp')" [class.nav-active]="selectedNav === 'Pvp'">PvP</p>
      <p routerLink="plunder" (click)="setSelectedNav('Plunder')" [class.nav-active]="selectedNav === 'Plunder'">Plunder</p>
      <p routerLink="dungeon" (click)="setSelectedNav('Dungeon')" [class.nav-active]="selectedNav === 'Dungeon'">Dungeon</p>
      <p (click)="setSelectedNav('Rankings')" [class.nav-active]="selectedNav === 'Rankings'">Rankings</p>
      <p (click)="setSelectedNav('Shop')" [class.nav-active]="selectedNav === 'Shop'">Shop</p>
    </div>
  </div>

  <div class="inner-content">
    <router-outlet></router-outlet>
  </div>

</div-->
