@import './../../styles/variables';

.mat-sidenav-container {
    width: 100%;
    height: 100%;
    mat-sidenav {
        width: 250px;
        display: flex;
        overflow: visible;
        .sidenav-content {
            background-color: $color_primary;
            width: 100%;
            .nav-header {
                padding: 30px;
            }
            mat-list-item {
                color: $color_white;
                cursor: pointer;
            }
            mat-list-item:hover:not(.nav-active) {
                background-color: $color_primary_light;
            }
            .nav-active {
                background-color: $color_secondary
            }
        }
    }
    mat-toolbar {
        .mat-progress-bar {
            width: 100px;
        }
        img {
            margin-left: 30px;
            margin-right: 10px;
            height: 50px;
        }
        img:first-child {
            margin-left: 0;
        }
        .toolbar-space {
            flex: 1 1 auto;
        }
    }
    .game-content {
        overflow: auto;
        height: 100%;
        padding: 30px;
      }
  }
  
  .example-fab.mat-mini-fab {
    position: absolute;
    right: 20px;
    bottom: 10px;
  }


/*.game-content {
    .sticky-header {
        position: fixed;
        top: 0;
        height: 50px;
        width: 100%;
        background-color: $color-primary;
        color: $color_white;
        padding: 5px;
        font-size: 20px;
        .button {
            float: right;
            margin: 10px;
        }
        img {
            padding: 5px;
            width: 40px;
            vertical-align: middle;
        }
        .class-icon {
            margin-left: 300px;
        }
        .diamond-icon {
            margin-left: 50px;
        }
    }
    .sidebar {
        position: fixed;
        height: 100%;
        width: 270px;
        top: 50px;
        left: 0;
        background-color: $color-primary;
        .nav-active {
            background-color: yellow;
        }
    }
    .inner-content {
        margin: 80px 30px 0 300px;
    }
}*/