//colors
$color_primary_dark: #1c040a;
$color_primary_light: #714b54;
$color_primary: #3d0814;
$color_white: #FFFFFF;
$color_text: #212121;
$color_secondary: #fa8334;
$color_text_secondary: #757575;
$color_divider: #BDBDBD;


//font
$font:  'Quicksand', sans-serif;