//colors
$color_primary_dark: #370712;
$color_primary_light: #5a2d37;
$color_primary: #3d0814;
$color_white: #FFFFFF;
$color_text: #212121;
$color_secondary: #b35f0d;
$color_text_secondary: #757575;
$color_divider: #BDBDBD;
$color_red: #dd2c00;


//font
$font: 'Quicksand', sans-serif;