<button (click)="logout()">Logout</button>

  <div class="header">
    <ul>
      <li routerLink="/overview">Overview</li>
      <li routerLink="/mission">Missionen</li>
      <li routerLink="/pvp">PvP</li>
    </ul>
  </div>

<div>
  <h1>{{(player | async)?.name }}</h1>
  <h1>{{(player | async)?.class }}</h1>
  <h1>Your Gold: {{(player | async)?.gold }}</h1>
  <h1>Your Silver: {{(player | async)?.silver }}</h1>
</div>


<div class="mission">
  <h1>Missionen:</h1>
  <button >Hexenjagd / 30 Sekunden</button>
  <button >Bürgern helfen / 60 Sekunden</button>
</div>


<!--div *ngIf="(player | async)?.name == null"-->
<div *ngIf="created == false">
  <h3>Howdy, {{ email }}, please select a name for your hero:</h3>
  <input [(ngModel)]="heroName" type="text">
  <h3>Hello {{ heroName }}, my hero. What class are you?</h3>
  <input [(ngModel)]="heroClass" type="text">
  <button (click)="add()">send</button>
</div>

<!--ul *ngFor="let player of players | async">
  <li>{{player.data.name}}</li>
</ul-->